/* 
   @media ( max-width: 992px ){  
      
   }
   @media ( max-width: 768px ){  
      
   }
   @media ( max-width: 480px ){  
      
   }  */
.__container-second {
   position: relative;
   height: 100vh;
   display: flex;
   flex-direction: column;
}
/*TODO: ---------MINE----------- */
.page__mine {
   background: rgba(220, 220, 220, 1);
   flex-grow: 1;
   flex-shrink: 0;
}

.mine__content {
   max-width: 1320px;
   margin: 0 auto;
   padding: 40px 0;

   @media ( max-width: 480px ){  
      padding: 20px 0;
   } 
}

.mine__body {
   background: rgba(189, 189, 198, 1); 
}

.mine__box {
   max-width:1120px;
   margin: 0 auto;
}

.mine {
   @media ( min-width: 1100px ){  
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
}

.mine__avatar {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 77px 0;
   padding-left: 40px;
   padding-right: 70px;

   @media ( max-width: 768px ){  
      padding-left: 0;
      padding-right: 0;
      padding: 20px 0;
   }
}

.mine__avatar-img {
   margin-bottom: 38px;
}

.mine__avatar-img1 {
@media ( max-width: 480px ){  
      width: 150px;
   } 
}

.mine__avatar-btn {
   color: rgba(255, 255, 255, 1);
   font-size: 23px;
   font-weight: 400;
   background-color: #69749B;
   width: 250px;
   height: 50px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;

   @media ( max-width: 480px ){  
      font-size: 18px;
      width: 200px;
      height: 40px;
      border-radius: 40px;
   } 
}

.mine__avatar-btn:hover {
   background-color: #5b6583;
}

.mine__avatar-btn1 {
   background-color: #484A54;
   margin-top: 22px;
}

.mine__avatar-btn1:hover {
   background-color: #373941;
}

.mine__info {
   flex: 0 1 64.3%;

   @media ( max-width: 1100px ){  
      margin: 0 10px;
   }
}

.mine__info-text {
   color: rgba(53, 60, 87, 1);
   font-size: 35px;
   font-weight: 600;
   font-style: italic;
   border-bottom: 3px solid rgba(255, 255, 255, 1);
   padding-top: 20px;
   padding-bottom: 20px;
   align-items: center; 
   
   @media ( max-width: 768px ){  
      font-size: 22px;
   }
   @media ( max-width: 480px ){  
      font-size: 19px;
   } 
} 

.mine__info-text1 {
      font-size: 32px;
      color: rgba(53, 60, 87, 1);
      font-weight: 100;
      font-style: italic
   
}

.mine__info-text1 {
   @media ( max-width: 768px ){  
      font-size: 18px;
   }
   @media ( max-width: 480px ){  
      font-size: 15px;
   } 
}

.mine__info-text2 {
   border-bottom: 0;
}

.mine__btn {
   color: rgba(255, 255, 255, 1);
   font-size: 27px;
   width:210px;
   height:60px;
   border-radius: 60px;
   background-color:#202846;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
   margin: 0 auto;
   margin-top: 40px;

   @media ( max-width: 480px ){  
      font-size: 18px;
      width: 130px;
      height: 40px;
      border-radius: 40px;
      margin-top: 20px;
   } 
}

.mine__btn:hover {
   background-color:#37426e;
}