/*TODO: ---------GLOBOL----------- */
/*TODO: ---------GLOBOL----------- */
html, body {
    height:100%;
    line-height: 1;
    font-size: 22px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: rgb(32, 40, 70);
}

html {  scroll-behavior: smooth;}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden; 
    display:flex;
    flex-direction: column;
}

.__container {
    max-width:1915px;
    padding: 0 15px;
    height: 100%;
    box-sizing: content-box;
    position: relative;
}
._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    /* object-fit:cover; */
}


/*TODO: ------HEADER-------- */
.header__content {
    background: rgb(32, 40, 70);
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.header__img {
    display: flex;
    align-items: center;
    margin-right: 150px;
    margin-left: 130px;
    height: 80px;

    @media ( max-width: 1800px ) {
        margin-right: 50px;
        margin-left: 40px;
        width: 100px;
    }
}

.logo {
    border-radius: 167px;

    @media ( max-width: 1800px ) {
        width: 100px;
    }
    @media ( max-width: 768px ) {
        width: 60px;
    }
}

.header__body {
    display: flex;
}

.header__menu {
    display: flex;
    flex: 0 1 auto;
    flex-wrap:wrap-reverse;
    
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    display: flex;
    height: 60px;
    align-items: center;
    text-align: center;
    background-color: brown;
    transition: all 0.3s;
    margin: 5px 0;
    
    @media ( max-width: 1800px ) {
        height: 40px;
    }
}

.menu__item:hover {
    background-color: rgb(213, 197, 48);
}

.menu__link {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    padding: 0 15px;

@media ( max-width: 1800px ) {
        font-size: 14px;
    }
}

.menu__link1 {
    min-width: 140px;
    
@media ( max-width: 768px ) {
        min-width:0;
    }
}

.menu__link2 {
    max-width: 190px;
    text-align: center;
}

.menu__line {
    padding: 0 25px;

@media ( max-width: 1800px ) {
        padding: 0 10px;
    }
}

.menu__line-img {
@media ( max-width: 1100px ) {
        display: none;
    }
}

.header__ua {
    margin-right: 60px;
    margin-left: 15px;
    
    @media ( max-width: 1800px ) {
        margin-right: 20px;
    } 
}

.ua__img {
    @media ( max-width: 1800px ) {
        width: 70px;
    } 
}


/*TODO: ------BURGER-------- */
.header__burger {
    display: none;
}

.header__burger.active:hover{
@media ( max-width: 768px ) {
    background-color: red;
    width: 30px;
    }
}

@media ( max-width: 768px ) {
    body.lock {
        overflow: hidden;
    }

    .header__content {
    height: 50px;
    
}

    .header__burger {
        display: block;
        top: 15px;
        right: 40%;
        width: 30px;
        height: 20px;
        position: absolute;
        z-index: 5;
    }

    .header__burger span {
        position: absolute;
        background-color:#f5efef;
        width: 100%;
        height: 2px;
        top: 9px;
        right: 0;
        transition: all 0.3s;
    }

    .header__burger::before,
    .header__burger::after {
        content:"";
        background-color:#f5efef;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        transition: all 0.3s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        z-index: 1;
        position: fixed;
        display: block;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.7s;
        padding: 60px 10px 20px 10px;
        background-color: rgba(111, 184, 221, 0.95);
    }

    .header__menu.active {
        top: 0;
    }

    .menu__list {
        display: block;
        
    }
    .menu__item {
    display: block;
    height: auto;
    padding: 15px 0;
    margin: 25px 0;

    @media ( max-width: 480px ) {
        margin: 15px 0;
    } 
    }

    .menu__list > *:not(:last-child) {
        margin-right: 0;
    }

    .menu__link {
        font-size: 50px;
        font-weight: 600;
        padding: 0;
        
    @media ( max-width: 480px ) {
        font-size: 20px;
    } 
    }
}


/*TODO: ------MAIN-------- */
.page {
    flex: 1 1 auto;
    background: rgba(193, 193, 195, 0.3);
    position: relative;
}

.page__container {
    max-width: 1485px;
    margin: 0 auto;
}


/*TODO: ------HOLIDAY-------- */
.holiday {
    padding: 50px 0;
    
    @media ( max-width: 1100px ) {
        padding: 20px 0;
    }
}

.holiday__title {
    display: none;
}

.hliday__img {
    max-width: 100%;
    @media ( max-width: 768px ) {
        height: 190px;
        width: auto;
        object-fit:fill;
    }
}


/*TODO: ------HOUSE-------- */
.house {
    padding-bottom: 50px;

    @media ( max-width: 480px ) {
        padding-bottom: 20px;
    }
}

.house__items {
    position: relative; 
}

.house__item-img1 {
    max-width: 100%;
}

.house__item-text {
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: flex-end;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 80%;
    height: 28%;
    left: 0;
    bottom: 0;

    @media ( max-width: 480px ) {
        position: relative;
        width: 100%;
    }
}

.text {
    color: rgb(32, 40, 70);
    font-size: 23px;
    line-height: 1.29;
    margin-bottom: 20px;

    @media ( max-width: 1300px ) {
        font-size: 17px;
        line-height: 1;
    }
    @media ( max-width: 992px ) {
        font-size: 14px;
        margin-bottom: 5px;
    }
    @media ( max-width: 768px ) {
        font-size: 9px;
    }
}

.text__items {
    display: flex;
    align-self: flex-end;
    margin-right: 33%;
}

.text__circle {
    width: 20px;
    height: 20px;
    background: rgb(33, 80, 35);
    border-radius: 50%;
    margin: 0 4px;

    @media ( max-width: 992px ) {
        width: 15px;
        height: 15px;
    }
    @media ( max-width: 768px ) {
        width: 7px;
        height: 7px;
    }
}

.text__circle1 {
    background: rgb(165, 187, 79);
}

.house__item-btn {
    position: absolute;
    top: -30px;
    right: 0;
    display: inline-flex;
    padding: 17px 25px;
    background: rgb(32, 40, 70);
    border-radius: 35px;
    transition: all 0.3s;
    width: 260px;

    @media ( max-width: 1520px ) {
        padding: 7px 10px;
        width: 190px;
        position: absolute;
        top: -20px;
        right: 0;
    }
    @media ( max-width: 768px ) {
        width: 160px;
        padding: 5px 7px;
    }
    @media ( max-width: 480px ) {
        position: relative;
    }
}

.house__item-btn:hover {
    background-color: rgb(158, 25, 25);
}

.house__btn-box {
    margin-right: 10px;
}

.house__btn-text {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 1.29;

    @media ( max-width: 1520px ) {
        font-size: 18px;
    }
    @media ( max-width: 768px ) {
        font-size: 14px;
    }
}

.house__btn-arrow {
    display: inline-block;
    align-items: center;
}

.house__btn-arrow1::before,
.house__btn-arrow1::after {
    content: '';
    display: inline-block;
    width: 78px;
    height: 78px;
}

.house__btn-arrow1::before {
    width: 35px;
    height: 3px;
    background-color:  rgb(255, 255, 255);
    transform: translate(30%, -100%);
}

.house__btn-arrow1::after {
    width: 15px;
    height: 15px;
    transform: translate(-42%, 20%) rotate(45deg);
    border-top: 3px solid  rgb(255, 255, 255);
    border-right: 3px solid  rgb(255, 255, 255);
    border-radius: 3px;
}


/*TODO: ------FAMILY-------- */
.family {
    padding: 30px 0;
    background: rgba(193, 193, 195, 0.9);
    @media ( max-width: 480px ) {
        padding: 10px 0;
    }
}

.family__items {
    max-width: 1345px;
    margin: 0 auto;
    align-items: center;

    @media ( min-width: 768px ) {
        display: flex; 
    }
}

.family__column {
    flex: 0 1 50%;
    padding: 0 10px;
}

.family__column-item1 {
    margin-bottom: 10px;
}

.family__column-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(234, 234, 235, 0.7);
    height: 350px;

    @media ( max-width: 992px ) {
        height: 250px;
    }
    @media ( max-width: 480px ) {
        height: 150px;
    }
}

.family__column-img {
    flex: 0 1 auto;
    display: block;
    height: 350px;
    overflow: hidden;

    @media ( max-width: 992px ) {
        height: 200px;
    }
    @media ( max-width: 480px ) {
        height: 150px;
    }
}

.family__column-text {
    color: rgb(32, 40, 70);
    font-size: 26px;
    line-height: 1.31;
    text-align: center;

    @media ( max-width: 480px ) {
        font-size: 14px;
    }
}

/*TODO: ------FORM-------- */
.form {
    
    padding: 50px 10px;
    background: rgb(220, 220, 220);

    @media ( max-width: 480px ) {
        padding: 20px 10px;
        padding-bottom: 50px;
    }
}

.form__container {
    max-width: 520px;
    border: 3px solid rgba(201, 183, 183, 0.2);
    background: rgb(242, 238, 238);
    margin: 0 auto;
}

.form__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__title {
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgb(65, 65, 65);
    font-size: 36px;
    line-height: 1.31;
    text-align: center;

    @media ( max-width: 480px ) {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 15px;
    }
}

.form__items {
    max-width: 410px;
    margin: 0 auto;
}

.form__name {
    color: rgb(50, 50, 54);
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 15px;

    @media ( max-width: 480px ) {
        font-size: 20px;
    }
}

.form__item {
    width: 100%;
}

.form__input-inp {
    color: rgb(144, 164, 174);
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 15px;
    padding: 18px 28px;
    width: 100%;
    
    @media ( max-width: 480px ) {
        font-size: 17px;
        padding: 7px 15px;
    }
}

.form__btn {
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 1.3;
    background: rgb(68, 71, 101);
    width: 100%;
    padding: 21px 0 36px 0;
    margin-top: 20px;
    transition: all 0.7s;

    @media ( max-width: 480px ) {
        font-size: 24px;
        margin-top: 0;
        padding: 10px 0 ;
    }
}

.form__btn:hover {
    background-color: rgb(158, 25, 25);
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(85, 87, 104, 0.62);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.form__arrow {
    position: absolute;
    right: 55px;
    bottom: 250px;
    

    @media ( max-width: 992px ) {
        position: absolute;
        right:20px;
        bottom: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.arrow:hover {
    filter: brightness(1.5);
    outline: none;
}

.form__arrow-img {
    @media ( max-width: 992px ) {
        max-width: 25%;
    }
}


/*TODO: ------FOOTER-------- */
.footer {
    padding-top: 45px;
    background: rgb(32, 40, 70);

    @media ( max-width: 992px ) {
        padding-top: 15px;
    }
}

.footer__copy {
    color: rgb(238, 236, 241);
    font-style: italic;
    font-size: 36px;
    line-height: 1.3;
    margin-left: 140px;

    @media ( max-width: 992px ) {
        font-size: 18px;
        margin-left: 0;
        text-align: center;
    }
    @media ( max-width: 480px ) {
        font-size: 10px;
    }
}