.__container-second {
   position: relative;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

/*TODO: ---------ABOUT----------- */
.info {
   padding: 40px 0 40px 220px;
   color: rgb(32, 40, 70);
   font-style: italic;
   font-size: 48px;
   line-height: 1.29;
   background: rgb(142 204 235 / 95%);

   @media ( max-width: 992px ){  
      padding: 20px 0 20px 120px;
   }
   @media ( max-width: 768px ){  
      font-size: 30px;
   }
   @media ( max-width: 480px ){  
      padding: 10px 0 10px 80px;
   }
}
.page {
   flex-grow: 1;
   flex-shrink: 0;
}
.about__content {
   max-width: 1574px;
   padding: 23px 0 28px 0;
   margin: 0 auto;

   @media ( max-width: 480px ){  
      padding: 10px 0 10px 0;
   }
}
.about__title {
   display: none;
}
.about__img {
   display: block;
   height: 227px;
   overflow: hidden;
   margin-bottom: 25px;

   @media ( max-width: 992px ){  
      height: 200px;
   }
   @media ( max-width: 480px ){  
      height: 150px;
   }
} 
.about__text {
   background: rgb(203, 203, 203);
   padding: 0 73px;

   @media ( max-width: 768px ){  
      padding: 0 20px;
   }
}
.texts {
   color: rgb(32, 40, 70);
   font-size: 30px;
   line-height: 1.3;

   @media ( max-width: 992px ){  
      font-size: 20px;
   }
   @media ( max-width: 480px ){  
      font-size: 12px;
   }
}
.about__text1,
.about__text3{
   padding: 40px 0;
   
   @media ( max-width: 992px ){  
      padding: 20px 0;
   }
   @media ( max-width: 480px ){  
      padding: 10px 0;
   }
}

