
   /* @media ( max-width: 992px ){  
      
   }
   @media ( max-width: 768px ){  
      
   }
   @media ( max-width: 480px ){  
      ;
   } */

/*TODO: ---------CONTACTS----------- */
.contacts__box {
   max-width: 1050px;
   margin: 0 auto;
   padding: 65px 0;

   @media ( max-width: 768px ){  
      padding: 30px 0;
   }
   @media ( max-width: 480px ){  
      padding: 10px 0;;
   }
}

.box__body {
   padding-bottom: 50px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   @media ( max-width: 768px ){  
      padding-bottom: 0;
   }
}

.box__item {
   margin: 10px;
   width: 250px;

   @media ( max-width: 480px ){  
      width: 180px;
   }
}

.box__item1 {
   padding-top: 30px;
   width: 420px;

   @media ( max-width: 768px ){  
      padding-top: 0;
   }
}

.box__text {
   color: rgba(0, 0, 0, 1);
   font-size: 32px;
   border-bottom: 3px solid rgba(32, 40, 70, 1);
   margin-bottom: 12px;

   @media ( max-width: 480px ){  
      font-size: 22px;;
   }
}

.box__info {
   color: rgba(0, 0, 0, 1);
   font-size: 30px;
   margin-bottom: 10px;

   @media ( max-width: 480px ){  
      font-size: 20px;;
   }
}

.box__map-item {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.box__map {
   margin: 10px;
}

iframe {
   max-width: 100%;
   @media ( max-width: 480px ){  
      height: 200px;
   }
}
