/*TODO: ---------RESERVATION----------- */
.page {
background: rgb(220, 220, 220);
padding-bottom: 87px;

@media ( max-width: 480px ){  
      padding-bottom: 65px;
   }
}

.reservation__info {
   margin-bottom: 56px;

   @media ( max-width: 768px ){  
      padding: 20px 0 20px 90px;
      margin-bottom: 20px; 
   }
   @media ( max-width: 480px ){  
      font-size: 18px;
      padding: 10px 0 10px 40px;
   }

}
.reservation__content {
   max-width: 1490px;
   margin: 0 auto;
   position: relative;
}

.reservation__place {
   padding: 36px 0;
   margin-bottom: 56px;
   display: flex;
   flex: 1 1 15px;
   height: 15px;
   align-items: center;
   justify-content:space-between; 
   background: rgb(232, 232, 232);

   @media ( max-width: 768px ){  
      padding: 20px 0;
   }
   @media ( max-width: 480px ){  
      padding: 10px 0;
      margin-bottom: 10px;
   }
}

.place__title {
   margin: 0 auto;
}

.place__title-text {
   color: rgba(0, 0, 0, 0.61);
   font-size: 28px;
   line-height: 1.29;

   @media ( max-width: 768px ){  
      font-size: 16px;
   }
}

.place__pointer {
   margin-right: 14px;
}

.place__pointer-item {
   @media ( max-width: 768px ){  
      width: 14px;
   }
}


/*TODO: ---------ATTRACTIONS----------- */
.attractions {
   position: relative;
   padding: 28px 0;
   background: rgb(189, 189, 198);
   margin-bottom: 36px;

   @media ( max-width: 768px ){  
      padding-bottom: 40px;
   }
   @media ( max-width: 480px ){  
      margin-bottom: 15px;
      padding-top: 10px;
   }
}

.attractions:last-child {
   margin-bottom: 0;
}

.attractions__item {
   @media ( min-width: 992px ){  
   display: flex;
   justify-content: center;
   }
}

.attractions__image {
   flex: 0 0 33.333%;
   display: block;
   min-height: 244px;
   overflow: hidden;
   margin: 0 20px;
   position: relative;

   @media ( max-width: 480px ){  
      margin: 0 10px;
      min-height: 120px;
   }
}

._ibg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   left: 0;
   top: 0;
}

.attractions__body {
   margin: 0 20px;

   @media ( max-width: 480px ){  
   margin: 0 10px;
   }
}

.attractions__title {
   margin-top: 8px;
   color: rgb(53, 60, 87);
   font-size: 36px;
   font-weight: 700;
   line-height: 1.3;

   @media ( max-width: 768px ){  
   font-size: 18px;
   }
}

.attractions__line {
   border: 3px solid rgb(255, 255, 255);
}

.attractions__text {
   display: flex;
   align-items: center;
   padding: 0 24px;
   margin-top: 12px;
   background: rgb(215, 215, 221);
   max-width: 712px;
   min-height: 174px;
   color: rgb(32, 40, 70);
   font-size: 22px;
   font-weight: 400;
   line-height: 1.28;
   text-align: center;

   @media ( max-width: 768px ){  
   font-size:18px;
   }
   @media ( max-width: 480px ){  
   font-size:14px;
   min-height: 100px;
   padding: 0;
   }
}

.attractions__star {
   position: absolute;
   top: 20px;
   right: 20px;

   @media ( max-width: 992px ){  
   top: 273px;
   }

   @media ( max-width: 480px ){  
   top: 130px;
   }
}

.attractions__star-item {
   @media ( max-width: 768px ){  
   width: 30px;
   }
}

.attractions__btn {
   position: absolute;
   bottom: 10px;
   right: -40px;
   color: rgb(255, 255, 255);
   font-size: 24px;
   background: rgb(32, 40, 70);
   padding: 16px 35px;
   border-radius: 35px;
   transition: all 0.3s;

   @media ( max-width: 768px ){  
   font-size:18px;
   padding: 10px 25px;
   border-radius: 25px;
   }
   @media ( max-width: 480px ){  
   font-size:14px;
   padding: 8px 20px;
   border-radius: 20px;
   position: absolute;
   bottom: 2px;
   right: 30%;
   }
}

.attractions__btn:hover {
   background-color: rgb(158, 25, 25);
}

.attractions__arrow {
   position: absolute;
   right: 55px;
   bottom: 450px;

   @media ( max-width: 1900px ){  
   bottom: 10px;
   width: 70px;
   height: 70px;
   }
   
   @media ( max-width: 480px ){  
   bottom: 5px;
   width: 50px;
   height: 50px;
   }
}

